<footer class="aneon-footer">
    <div class="container py-4">

        <div class="row align-items-center">

            <!-- Logo -->
            <div class="col-md-6 mb-6 mb-md-0">
                <div class="aneon-logo">
                    ANEON
                </div>
                <small>Accesorios electrónicos</small>
            </div>

            <!-- Redes -->
            <div class="col-md-6 text-md-end text-center">
                <a href="#" class="social">
                    <i class="bi bi-instagram"></i>
                </a>

                <a href="#" class="social">
                    <i class="bi bi-facebook"></i>
                </a>

                <a href="#" class="social">
                    <i class="bi bi-tiktok"></i>
                </a>

                <a href="#" class="social">
                    <i class="bi bi-whatsapp"></i>
                </a>
            </div>

        </div>

        <hr>

        <div class="text-center">
            <small class="copyright">
                © 2026 ANEON · Todos los derechos reservados.
            </small>
        </div>

    </div>
</footer>